.mainContent {
  max-width: 700px;
  margin: auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: crimson;
  text-decoration-color: brown;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: darkblue;
}

.section{
  text-align: center;
  padding-left: 20px;
}

body {
  text-align: center;
  background-color: #062a77;
  color: aliceblue; 
}

p{
  text-justify: distribute;
  padding-top: 5px;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 5%;
  

}

.myslides{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.shiz{
  padding: 25px;
}

